/* styles.css */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: linear-gradient(135deg, #667eea, #764ba2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background: #8ac2e2;
  color: white;
}

button:hover {
  background: #6997b1;
}

.task-item {
  
  background: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  transition: all 0.3s;
}

.task-item:hover {
  transform: scale(1.05);
}

.task-item-animate {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.task-item.completed {
  background-color: #d4edda; /* light green */
  text-decoration: line-through;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding: 0;
  font-weight: bold;
}

.delete-btn:hover {
  color: #ff6b6b;
}

.toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: green;
}

.toggle-btn:hover {
  color: darkgreen;
}
